* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  color: #171717;
  background: #FFFFFF; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  border: 1px solid #CFCFCF;
  height: 45px;
  width: 100%;
  color: #000;
  font-size: 16px;
  background: #fff; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #454545; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #454545; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #454545; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #454545; }

select {
  border: 1px solid #CFCFCF;
    border-radius: 0;
  height: 45px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #FFFFFF; }

label {
  display: block;
  width: 100%; }

button, .btn {
  outline: none;
  border: none;
    border-radius: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  button:hover, button:focus, .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px 10px 11px;
  font-weight: bold;
  max-width: 222px;
  width: 100%; }

.btn-accent {
  background: #3C3CF1;
  color: #fff; }
  .btn-accent:hover {
    background: #6673FF;
    color: #fff; }

.btn-border {
  border: 1px solid #3C3CF1;
  color: #3C3CF1;
  font-size: 16px;
  font-weight: normal;
  padding: 3px 20px 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 19px; }
  .btn-border:hover {
    background: #3C3CF1;
    color: #fff; }

h1 {
  font-size: 26px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: 0 auto 40px; }

h2 {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin: 0 auto 10px; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

.links-accent {
  font-style: italic;
  border-bottom: 1px dashed #3C3CF1;
  font-size: 12px;
  color: #3C3CF1;
  display: inline-block; }
  .links-accent:hover {
    color: #6673FF; }

.color-accent {
  color: #3C3CF1; }

.d-inline {
  display: inline-block; }

.container {
  max-width: 1200px; }

.w100 {
  width: 100%; }

.mb-30 {
  margin-bottom: 30px; }

.p-80 {
  padding: 80px 0; }

.logo {
  max-width: 177px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.top-line {
  width: 100%;
  background: #444444;
  position: relative;
  padding: 9px 0;
  color: #fff;
  font-size: 18px; }
  .top-line h3 {
    font-size: 18px;
    font-weight: bold; }
  .top-line p {
    margin: 0 10px 0 26px; }

.btn-close__line {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  stroke: #fff;
  width: 10px;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.sale-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  white-space: nowrap;
  width: 100%; }

.countdown-time {
  border: none;
    border-radius: 0;
  width: auto;
  height: auto;
  background: transparent;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: normal; }

.form-search {
  max-width: 500px;
  width: 100%;
  height: 35px;
  position: relative;
  margin: 0 30px 0 auto; }
  .form-search__btn {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    right: 2px;
    border-radius: 12px;
    width: 31px;
    height: 31px;
    background: #3C3CF1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .form-search__btn .svg-icon {
      width: 16px;
      height: 16px;
      fill: #fff; }
  .form-search .links-accent {
    right: 46px;
    top: 50%;
    position: absolute;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  .form-search input {
    padding: 0 100px 0 15px;
    height: 35px;
    border: none;
      border-radius: 10px;
    background: rgba(218, 0, 55, 0.08);
    font-size: 13px; }
    .form-search input::-webkit-input-placeholder {
      color: #737373; }
    .form-search input::-moz-placeholder {
      color: #737373; }
    .form-search input::-ms-input-placeholder {
      color: #737373; }
    .form-search input::placeholder {
      color: #737373; }

.header-links {
  width: 32px;
  height: 32px;
  fill: #171717;
  margin: 0 30px 0 0; }
  .header-links:hover {
    fill: #3C3CF1; }

header {
  border-bottom: 1px solid #E5E5E5;
  padding: 20px 0;
  margin: 0 0 40px; }

.btn-sign {
  max-width: 120px;
  padding: 8px; }

.basket-links {
  position: relative;
  color: #fff; }

.basket-val {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #3C3CF1;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -5px;
  right: -2px; }

.btn-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 28px;
  height: 28px;
  cursor: pointer;
  margin: auto 0;
  position: relative;
  padding: 3px 0;
  z-index: 3;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .btn-burger span {
    width: 100%;
    height: 2px;
    background: #171717;
    display: block; }

.btn-burger.clicked {
  background: url("../img/close.svg") no-repeat center;
    background-size: 100%; }
  .btn-burger.clicked span {
    display: none; }

.mobile-menu {
  position: relative;
  display: none; }

.mobile-menu-modal {
  display: none;
  position: absolute;
  left: -26px;
  top: -16px;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.16);
  background: #fff;
  z-index: 2;
  max-width: 224px;
  width: 100%;
  min-width: 224px; }

.mobile-menu-list {
  padding: 68px 0 0; }
  .mobile-menu-list li {
    border-top: 1px solid #CFCFCF; }
    .mobile-menu-list li a {
      padding: 16px;
      font-weight: 500;
      color: #171717; }

.form-filter {
  margin: 0 0 20px; }
  .form-filter button {
    width: 20%; }
  .form-filter h3 {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 20px; }
  .form-filter label {
    margin: 0 0 20px;
    width: 20%; }
    .form-filter label select {
      width: calc(100% - 15px); }

.select2-container {
  width: calc(100% - 15px) !important; }

.form-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.select2-container--default .select2-selection--single {
  border-radius: 0;
  border: 1px solid #CFCFCF;
  background: #fff;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px 0 15px; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 0;
  color: #737373;
  font-size: 15px;
  font-family: "Rubik", sans-serif; }

.select2-selection__arrow, .select2-container--default .select2-selection--single .select2-selection__arrow {
  background: url("../img/arrow-bottom.svg") no-repeat center;
    background-size: 100%;
  position: relative;
  right: 0;
  top: 0;
  -webkit-transform: none;
          transform: none;
  width: 12px;
  height: 7px; }
  .select2-selection__arrow b, .select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none; }

.select2-search--dropdown {
  display: none; }

.select2-results__option {
  padding: 5px 14px; }

.select2-results {
  font-size: 16px;
  color: #444444; }

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: #3C3CF1; }

.select2-dropdown {
  border-radius: 0;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
  border: 1px solid #CFCFCF;
  background: #fff; }

.select2-container--default .select2-results__option--selected {
  background: transparent; }

.popular-brands {
  margin: 40px 0 0; }

.popular-slider {
  padding: 0 60px;
  margin: 50px 0 0; }

.brand-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  height: 70px;
  max-width: 100px;
  width: 100%; }
  .brand-slide img {
    max-height: 100%; }

.slick-slide {
  outline: none; }

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 30px;
  height: 30px;
  border: 1px solid #CFCFCF;
    border-radius: 50%;
  background: transparent;
  opacity: 1;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .slick-arrow .svg-icon {
    stroke: #CFCFCF;
    width: 7px;
    height: 12px;
    fill: none;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .slick-arrow:hover {
    border-color: #3C3CF1; }
    .slick-arrow:hover .svg-icon {
      stroke: #3C3CF1; }

.slick-prev {
  left: 0; }

.slick-next {
  right: 0; }

.search-category {
  padding: 80px 0; }

.search-category-item {
  color: #3C3CF1;
  font-size: 14px;
  text-align: center;
  border: 1.5px solid #3C3CF1;
    border-radius: 15px;
  background: #fff;
  padding: 10px 5px;
  max-width: 110px;
  width: 100%;
  margin: 0 auto; }
  .search-category-item:hover {
    background: #6673FF;
    border-color: #6673FF;
    color: #fff; }
    .search-category-item:hover .svg-icon {
      fill: #fff; }
  .search-category-item:focus {
    background: #3C3CF1;
    border-color: #3C3CF1;
    color: #fff; }
    .search-category-item:focus .svg-icon {
      fill: #fff; }

.search-category-item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #3C3CF1;
  width: 32px;
  height: 32px;
  margin: 0 auto 2px; }

.search-category-list {
  margin: 30px -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .search-category-list li {
    width: 10%;
    padding: 0 5px; }

.subtitle {
  width: 100%;
  text-align: center;
  margin: 10px auto 50px; }

.card-product {
  width: 100%;
  height: 100%;
  position: relative; }
  .card-product__img {
    width: 100%;
    height: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .card-product__img img {
      max-height: 100%; }
  .card-product:hover .btn-favorite {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .card-product:hover .card-product__title {
    color: #3C3CF1; }
  .card-product__title {
    font-weight: bold;
    color: #171717;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .card-product__body {
    padding: 25px 0 0; }
  .card-product__footer {
    margin: 15px 0 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.label-item {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 10px;
  border: 1px solid #3C3CF1;
  background: #fff;
  padding: 6px 15px;
  font-size: 15px;
  color: #3C3CF1; }

.text-product {
  color: #444444;
  margin: 4px 0 0;
  width: 100%; }

.label-product {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .label-product li {
    margin: 0 0 10px; }
    .label-product li:last-child {
      margin: 0; }
    .label-product li a {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border-radius: 50%;
      width: 40px;
      height: 40px; }

.val-product {
  font-size: 24px;
  font-weight: 500;
  color: #3C3CF1;
  border: 1px solid #3C3CF1;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.btn-favorite {
  background: #E5E5E5;
  display: none;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .btn-favorite .svg-icon {
    width: 20px;
    height: 20px;
    fill: #171717; }

.article {
  margin: 5px 0 0;
  width: 100%;
  color: #737373;
  font-size: 14px; }

.price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.new-price {
  font-size: 24px;
  font-weight: bold;
  color: #171717; }

.old-price {
  color: #8A8A8A;
  font-size: 18px;
  text-decoration: line-through;
  margin: auto 0 2px 5px; }

.sale-price {
  color: #3C3CF1;
  font-size: 14px;
  display: inline-block;
  margin: 0 0 0 1px; }

.btn-add-card {
  max-width: none;
  margin: 16px 0 0; }

.top-car {
  padding: 50px 0; }

.top-car-slider {
  margin: 50px 0 30px;
  padding: 0 20px; }
  .top-car-slider .slick-arrow {
    border: none;
      border-radius: 0;
    width: 10px;
    height: 20px; }
    .top-car-slider .slick-arrow .svg-icon {
      stroke: #333; }

.car-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  margin: 0 auto;
  padding: 0 16px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%); }
  .car-logo:hover {
    -webkit-filter: none;
            filter: none; }
  .car-logo img {
    max-height: 100%; }

.reviews h2 {
  margin: 0 auto 50px; }

.reviews-box {
  line-height: 23px; }
  .reviews-box__head {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 20px; }
  .reviews-box h3 {
    width: 100%;
    font-weight: bold; }
  .reviews-box__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 70px;
    height: 65px; }
  .reviews-box__title {
    width: calc(100% - 70px);
    padding: 0 0 0 15px; }

.rating-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7px 0 0;
  color: #737373;
  font-size: 14px; }

.list-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px 0 0; }
  .list-rating li {
    width: 24px;
    height: 24px;
    fill: #F2D230;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .list-rating .star0 {
    fill: #999999; }

.label-star {
  position: relative;
  width: 32px;
  height: 32px;
  cursor: pointer; }

.inp-star {
  display: none; }

.inp-star:checked + .svg-icon {
  fill: #F2D230; }

.seo-content {
  padding: 50px 0 80px; }
  .seo-content .box-text {
    font-size: 15px;
    line-height: 23px; }
  .seo-content h3 {
    font-weight: bold;
    color: #444;
    margin: 0 0 15px;
    font-size: 16px; }
  .seo-content p {
    margin: 0 0 10px; }
    .seo-content p:last-child {
      margin: 0; }
  .seo-content .text {
    margin: 0 0 20px; }
  .seo-content ul {
    margin: 0 0 10px; }
    .seo-content ul:last-child {
      margin: 0; }

.list-dots li {
  position: relative;
  padding: 0 0 0 16px; }
  .list-dots li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 6px;
    height: 6px;
    background: #3C3CF1;
    border-radius: 50%; }

.list-decimal {
  counter-reset: item; }
  .list-decimal li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .list-decimal li:before {
      content: counters(item, ".") ". ";
      counter-increment: item;
      margin: 0 10px 0 0;
      color: #3C3CF1;
      font-size: 15px;
      display: inline-block; }

.advantages {
  padding: 0 0 27px; }

.advantages-box {
  text-align: center;
  color: #171717; }
  .advantages-box h4 {
    font-weight: bold;
    margin: 25px auto 10px;
    font-size: 18px;
    color: #444; }
  .advantages-box__icon {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 60px;
    width: 60px; }
    .advantages-box__icon img {
      max-height: 100%; }

footer {
  background: #444444;
  color: #fff;
  padding: 60px 0; }
  footer h4 {
    font-weight: bold;
    margin: 0 0 20px; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .list-social li {
    margin: 0 20px 0 0; }
    .list-social li:last-child {
      margin: 0; }
    .list-social li a {
      width: 28px;
      height: 28px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      fill: #FFFFFF; }
      .list-social li a:hover {
        fill: #EDEDED; }

.form-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .form-subscribe label {
    max-width: 380px;
    width: 100%; }
  .form-subscribe button {
    margin: 0 0 0 20px;
    max-width: 170px; }

.footer-box {
  margin: 60px 0 0;
  height: 100%; }

.footer-menu li {
  margin: 0 0 20px; }
  .footer-menu li:last-child {
    margin: 0; }
  .footer-menu li a {
    color: #fff; }
    .footer-menu li a:hover {
      color: #EDEDED; }

.modal-content {
  border: none;
    border-radius: 0; }
  .modal-content .subtitle {
    font-size: 18px;
    margin: 0 auto;
    max-width: 370px;
    width: 100%; }

.modal-body {
  padding: 50px 30px; }

.modal-title {
  margin: 0 auto 7px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  line-height: normal; }

.form-modal {
  margin: 40px auto 0; }
  .form-modal label {
    margin: 0 0 20px; }
  .form-modal .checkbox {
    margin: 0; }
  .form-modal button {
    margin: 20px auto 30px;
    max-width: 100%; }

.agreement {
  text-align: center;
  max-width: 320px;
  margin: 0 auto;
  line-height: 23px; }

.label-pass {
  position: relative; }

.line-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #171717;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0; }

.inp-check {
  display: none; }

.checkbox-custom {
  margin: 0 10px 0 0;
  width: 20px;
  height: 20px;
  min-width: 20px;
  border: 1px solid #CFCFCF;
    border-radius: 4px;
  position: relative;
  cursor: pointer;
  background: #FFFFFF; }
  .checkbox-custom:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 12px;
    height: 8px;
    background: url("../img/checkbox.svg") no-repeat center;
      background-size: 100%;
    display: none;
    -webkit-transition: .3s ease;
    transition: .3s ease; }

.inp-check:checked + .checkbox-custom {
  background: #3C3CF1;
  border-color: #3C3CF1; }
  .inp-check:checked + .checkbox-custom:before {
    display: block; }

.view-pass {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  fill: #999999;
  cursor: pointer; }

.btn-sidebar {
  display: none;
  max-width: none;
  margin: 0 0 40px; }

.sidebar .form-filter {
  margin: 0 0 40px; }
  .sidebar .form-filter:last-child {
    margin: 0; }
  .sidebar .form-filter label {
    width: 100%;
    padding: 0; }
    .sidebar .form-filter label select {
      width: 100%; }
  .sidebar .form-filter .btn {
    width: 100%;
    max-width: none; }
  .sidebar .form-filter .checkbox {
    margin: 0; }

.sidebar .select2-container {
  width: 100% !important; }

.list-checkbox li {
  margin: 0 0 15px; }
  .list-checkbox li:last-child {
    margin: 0; }

.load-more-wrap {
  border-bottom: 1px dashed #3C3CF1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.motor-brands {
  padding: 40px 0; }

.motor-brands-slider {
  padding: 0 40px; }
  .motor-brands-slider .brand-slide {
    max-width: 123px;
    width: 100%;
    border: 1.5px solid #CFCFCF;
      border-radius: 15px;
    background: #fff;
    padding: 10px; }
    .motor-brands-slider .brand-slide:hover {
      border-color: #3C3CF1; }

.sae h2, .motor-brands h2 {
  font-size: 18px;
  margin: 0 0 20px; }

.sae-slider {
  padding: 0 40px; }
  .sae-slider .search-category-item {
    max-width: 123px; }

.content-wrapper {
  padding: 0 0 50px; }

.result-search {
  width: 100%;
  text-align: right;
  margin: 0 0 30px;
  color: #444444;
  font-size: 14px;
  font-style: italic; }

.form-basket {
  width: 100%; }

.basket-product {
  width: 100%;
  margin: 0 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.basket-product__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100px;
  width: 100%;
  height: 100px; }
  .basket-product__img img {
    max-height: 100%; }

.basket-product__title {
  font-weight: bold;
  color: #171717; }

.basket-product__body {
  width: calc(100% - 100px);
  padding: 0 0 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .basket-product__body .price-wrapper {
    width: 30%; }
  .basket-product__body .price-wrapper {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.number-orders {
  width: 25%; }

.basket-product__content {
  width: 35%; }

.amount {
  width: 130px;
  height: 45px;
  border: 1px solid #CFCFCF;
  background: #fff;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto; }
  .amount span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #8A8A8A;
    font-size: 24px;
    cursor: pointer; }
    .amount span:hover {
      color: #3C3CF1; }
  .amount input {
    width: 70px;
    border: none;
    text-align: center;
    background: transparent;
    font-size: 20px;
    color: #444444; }
    .amount input::-webkit-input-placeholder {
      color: #444444; }
    .amount input::-moz-placeholder {
      color: #444444; }
    .amount input::-ms-input-placeholder {
      color: #444444; }
    .amount input::placeholder {
      color: #444444; }

.sum-product {
  width: 20%;
  font-size: 24px;
  font-weight: bold;
  text-align: right; }
  .sum-product p {
    display: none;
    color: #444444;
    font-size: 18px;
    margin: 0 12px 0 0;
    font-weight: normal; }

.total-basket {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px 0 0 auto; }
  .total-basket .btn {
    margin: 40px 0 0;
    max-width: none;
    padding: 10px 40px; }

.total-basket-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #444444;
  font-size: 24px;
  padding: 30px 0 0;
  border-top: 1px solid #CFCFCF; }

.sum {
  color: #171717;
  font-size: 36px;
  font-weight: bold;
  margin: 0 0 0 14px; }

.basket-wrapper {
  padding: 0 0 80px; }

.btn-next-form {
  margin: 40px auto 0;
  max-width: 170px; }

.form-basket-box {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #3C3CF1;
  max-width: 570px;
  padding: 40px 30px; }
  .form-basket-box label {
    margin: 0 0 20px; }
  .form-basket-box .checkbox {
    margin: 0; }
  .form-basket-box .form-row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0; }
    .form-basket-box .form-row label {
      width: calc(50% - 10px); }
    .form-basket-box .form-row .w75 {
      width: calc(75% - 10px); }
    .form-basket-box .form-row .w25 {
      width: calc(25% - 10px); }
    .form-basket-box .form-row .w35 {
      width: calc(37% - 10px); }
  .form-basket-box .select2-container {
    width: 100% !important; }
  .form-basket-box .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #454545; }

.radio-box {
  width: 100%;
  position: relative;
  border: 1px solid #CFCFCF;
  background: #fff;
  cursor: pointer;
  padding: 30px 20px;
  height: 100%; }

.inp-radio {
  display: none; }

.radio-custom {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid #CFCFCF;
    border-radius: 50%;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .radio-custom:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 10px;
    height: 10px; }

.inp-radio:checked + .radio-custom {
  border-color: #3C3CF1; }
  .inp-radio:checked + .radio-custom:before {
    background: #3C3CF1; }

.radio-title {
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 30px;
  color: #171717;
  font-size: 18px;
  font-weight: bold; }

.payment-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  padding: 0 8px; }
  .payment-box img {
    max-height: 100%; }

.payments {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.confirm-page .basket-product__body .basket-product__content {
  width: 43%; }

.confirm-page .basket-product__body .price-wrapper {
  width: 17%; }

.confirm-page .basket-product__body .sum-product {
  width: 15%; }

.confirm-box {
  margin: 0 0 40px; }
  .confirm-box h3 {
    margin: 0 0 35px;
    font-weight: bold;
    font-size: 20px; }
  .confirm-box .box-text {
    line-height: 23px; }

.customers-section {
  padding: 0 0 50px; }
  .customers-section h2 {
    margin: 0 auto 50px; }

.links-catalogue {
  font-size: 13px;
  border-bottom: 1px dashed #3C3CF1;
  margin: auto 0 35px auto; }

.breadcrumb {
  background: transparent;
  border-radius: 0;
  padding: 0;
  font-size: 14px;
  margin: 0 0 30px; }
  .breadcrumb li a {
    color: #3C3CF1; }

.breadcrumb-item + .breadcrumb-item::before {
  content: '';
  margin: 0 10px;
  background: url("../img/arrow-right.svg") no-repeat center;
    background-size: 100%;
  width: 6px;
  height: 8px; }

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.product-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 370px; }
  .product-img img {
    max-height: 100%; }

.add-favorite {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #171717; }
  .add-favorite:hover {
    fill: #3C3CF1; }

.product-description__head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.product-description h1 {
  text-align: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 12px 0 0;
  font-size: 24px; }

.product-description .rating-product {
  margin: 0; }

.product-description .text-product {
  font-size: 18px; }

.product-description .article {
  margin: 15px 0 0; }

.product-description .price-wrapper {
  width: 100%;
  margin: 30px 0 40px; }

.product-description .new-price {
  font-size: 36px; }

.product-description .old-price {
  font-size: 24px;
  margin: auto 0 5px 10px; }

.product-description .sale-price {
  font-size: 18px;
  margin: 0 0 0 5px; }

.product-description .amount {
  margin: 0; }

.product-description .number-orders {
  width: 100%;
  margin: 0 0 30px; }

.btn-buy {
  max-width: 270px; }

.product-description__body {
  margin: 30px 0 0;
  width: 100%; }

.list-characteristics {
  width: 100%;
  color: #444444; }
  .list-characteristics li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid #CFCFCF; }
    .list-characteristics li:first-child {
      border: none; }
  .list-characteristics p {
    font-weight: bold; }

.characteristics-val {
  max-width: 270px;
  text-align: right;
  width: 100%; }

.load-more {
  border-bottom: 1px dashed #3C3CF1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.compatibility h2 {
  margin: 0 auto 50px; }

.list-sorting {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .list-sorting li {
    margin: 0 10px 9px 0; }
    .list-sorting li:last-child {
      margin-right: 0; }
    .list-sorting li a {
      border: 1.5px solid #3C3CF1;
        border-radius: 15px;
      background: #fff;
      padding: 8.5px 20px;
      color: #3C3CF1;
      text-align: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .list-sorting li a:hover, .list-sorting li a:focus {
        background: #3C3CF1;
        color: #fff; }

.compatibility-content {
  margin: 14px 0 0;
  width: 100%; }

.list-compatibility {
  color: #444444; }
  .list-compatibility li {
    margin: 0 0 10px; }
    .list-compatibility li:last-child {
      margin: 0; }
    .list-compatibility li a {
      position: relative;
      color: #444444;
      padding: 0 0 0 25px; }
      .list-compatibility li a:before {
        content: '+';
        position: absolute;
        left: 0;
        top: -5px;
        line-height: 28px;
        color: #3C3CF1;
        width: 15px;
        height: 28px;
        font-size: 24px;
        -webkit-transition: .3s ease;
        transition: .3s ease; }
    .list-compatibility li .open:before {
      content: '-'; }

.list-compatibility__sub {
  padding: 10px 0 0 55px;
  display: none; }

.add-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 20px;
  font-weight: bold; }

.add-rating-list {
  margin: 0 0 0 10px; }
  .add-rating-list li {
    width: 32px;
    height: 32px; }

.form-reviews label {
  margin: 0 0 20px; }

.form-reviews textarea {
  height: 110px;
  padding: 13px 16px; }

.form-reviews button {
  max-width: none; }

.form-reviews .add-rating label {
  margin: 0; }

.all-rating {
  margin: 0 0 40px; }
  .all-rating .list-rating li {
    width: 32px;
    height: 32px; }

.reviews-section .reviews-box {
  margin: 0 0 30px; }
  .reviews-section .reviews-box:last-child {
    margin: 0; }

.faq h2 {
  margin: 0 auto 50px; }

.btn-collapse {
  width: 100%;
  margin: 0 0 20px;
  max-width: none;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  background: #fff;
  border: 1px solid #E8E8E8;
    border-radius: 25px;
  padding: 5px 5px 5px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #171717;
  font-size: 18px;
  font-weight: normal; }
  .btn-collapse__icon {
    background: #444444;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    fill: none;
    stroke: #fff; }
    .btn-collapse__icon .svg-icon {
      width: 8px;
      height: 16px; }
  .btn-collapse:hover, .btn-collapse:focus {
    background: #fff;
    color: #171717; }

.collapsed .btn-collapse__icon {
  -webkit-transform: none;
          transform: none;
  background: #3C3CF1; }

.collapse-content {
  position: relative; }
  .collapse-content .card-body {
    position: absolute;
    border: none;
      border-radius: 0;
    padding: 0; }

.payments-methods {
  padding: 0 0 80px; }

.payments-methods-box h3 {
  font-weight: bold;
  font-size: 26px;
  margin: 0 0 50px; }

.list-pay {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .list-pay li {
    height: 45px;
    padding: 0 10px;
    max-width: 145px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .list-pay li img {
      max-height: 100%; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .form-search {
    max-width: 400px; }
  .popular-slider {
    padding: 0 54px; }
  .brand-slide {
    padding: 0 10px; }
  .list-pay li {
    margin: 0 0 24px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1100px) {
  .search-category-list {
    padding: 0 52px;
    margin: 30px auto 0; }
  .links-catalogue {
    margin: 16px auto 20px; } }

@media only screen and (max-width: 992px) {
  .form-search {
    max-width: 330px;
    margin: 0 auto; }
  .header-links {
    margin: 0 10px 0 0; }
  .form-filter label {
    width: 50%; }
  .form-filter button {
    width: calc(50% - 15px);
    max-width: none; }
  .top-car {
    padding: 30px 0; }
  .top-car-slider {
    margin: 30px auto; }
  .advantages-box h4 br {
    display: none; }
  .subscribe-box {
    margin: 32px 0 0; }
  .btn-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .sidebar {
    display: none;
    margin: 0 0 30px; }
  .sae-slider, .motor-brands-slider {
    padding: 0 37px; }
    .sae-slider .slick-prev, .motor-brands-slider .slick-prev {
      left: -15px; }
    .sae-slider .slick-next, .motor-brands-slider .slick-next {
      right: -15px; }
    .sae-slider h2, .motor-brands-slider h2 {
      margin: 0 auto 32px; }
  .radio-box {
    margin: 0 0 24px;
    height: auto;
    min-height: 140px; }
  .radio-title {
    margin: 0 auto 24px; }
  .payment-box {
    height: 35px; }
  .confirm-box h3 {
    margin: 0 0 24px; }
  .payments-methods-box h3 {
    margin: 0 0 40px; }
  .payments-methods-box {
    margin: 0 0 60px; }
  .payments-methods {
    padding: 0; }
  .customers-slider {
    padding: 0 38px; }
    .customers-slider .slick-prev {
      left: 15px; }
    .customers-slider .slick-next {
      right: 15px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .form-search {
    max-width: none;
    width: 100%;
    margin: 20px 0 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  header .logo {
    margin: 0 auto 0 0; }
  .top-line p {
    margin: 0 10px; }
  .popular-slider {
    margin: 40px 0 0; }
  .popular-brands {
    margin: 20px 0 0; }
    .popular-brands h2 {
      margin: 0; }
  .search-category {
    padding: 60px 0; }
  .sae-slider .search-category-item, .motor-brands-slider .brand-slide {
    max-width: 103px; }
  .sae-slider, .motor-brands-slider {
    padding: 0 20px; }
  .content-wrapper {
    padding: 0 0 30px; }
  .basket-wrapper {
    padding: 0 0 60px; }
  .basket-product__content, .basket-product__body .price-wrapper {
    width: 100%; }
  .basket-product__body .price-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
    margin: 12px 0 24px; }
  .amount {
    margin: 0; }
  .number-orders, .confirm-page .basket-product__body .basket-product__content, .confirm-page .basket-product__body .sum-product, .confirm-page .basket-product__body .price-wrapper {
    width: 100%; }
  .sum-product {
    margin: 16px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    text-align: left; }
    .sum-product p {
      display: block; }
  .basket-product__body {
    padding: 0 0 0 12px; }
  .basket-product {
    margin: 0 0 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .product-img {
    height: 328px;
    margin: 0 auto 32px; }
  .product-description h1 {
    width: 100%;
    margin: 0;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2; }
  .product-description .text-product {
    margin: 8px 0 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .product-description .article {
    margin: 12px 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .product-description .price-wrapper {
    margin: 24px 0; }
  .product-description .number-orders {
    margin: 0 0 24px; }
  .btn-buy {
    max-width: 328px; }
  .p-80 {
    padding: 60px 0; }
  .compatibility h2 {
    margin: 0 auto 40px; }
  .list-sorting {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%; }
  .list-compatibility__sub {
    padding: 10px 0 0 40px; }
  .all-rating {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .all-rating .list-rating {
      margin: 0 auto 12px; }
  .form-reviews {
    margin: 40px 0 0; }
    .form-reviews label {
      margin: 0 0 12px; }
  .faq h2 {
    margin: 0 auto 40px; }
  .collapse-content .card-body {
    position: relative;
    padding: 0 0 16px; }
  .customers-section h2 {
    margin: 0 auto 40px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .top-line {
    padding: 10px 0 9px; }
    .top-line p {
      display: none; }
  .countdown-time {
    display: none; }
  .favorite-links, .btn-sign {
    display: none; }
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  header {
    margin: 0 0 32px; }
    header .logo {
      margin: 0 auto; }
  .modal-body {
    padding: 50px 16px; }
  .form-filter {
    margin: 0 0 40px; }
    .form-filter label {
      margin: 0 0 12px;
      width: 100%;
      padding: 0; }
      .form-filter label select {
        width: 100%; }
    .form-filter button {
      width: 100%; }
    .form-filter h3 {
      margin: 0 0 16px; }
  .select2-container {
    width: 100% !important; }
  h2 {
    margin: 0 0 12px; }
  .subtitle {
    margin: 0 auto 40px; }
  .card-product__img {
    height: 328px; }
  .car-logo {
    padding: 0 8px; }
  .reviews h2 {
    margin: 0 auto 40px; }
  .seo-content {
    padding: 30px 0 60px; }
  .advantages {
    padding: 0 0 30px; }
  .list-social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 24px 0 0; }
  .footer-box {
    margin: 30px 0 0; }
  .total-basket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%; }
    .total-basket .btn {
      margin: 35px 0 0;
      width: 100%;
      padding: 10px; }
  .links-catalogue {
    margin: 16px auto 0; }
  .list-characteristics li {
    padding: 8px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border: none; }
  .characteristics-val {
    max-width: none;
    text-align: left;
    margin: 2px 0 0; }
  .load-more {
    margin: 8px 0 0; }
  .customers-section {
    padding: 0 0 30px; }
    .customers-section .card-product {
      max-width: 252px;
      margin: 0 auto;
      width: 100%; }
    .customers-section .card-product__img {
      height: 252px; } }

@media only screen and (max-width: 480px) {
  .form-basket-box {
    padding: 30px 16px; }
  .form-basket-box .form-row label {
    margin: 0 0 12px; }
  .form-basket-box .form-row label, .form-basket-box .form-row .w75, .form-basket-box .form-row .w25, .form-basket-box .form-row .w35 {
    width: 100%; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 340px) {
  .search-category-list {
    padding: 0 40px; }
  .add-rating {
    font-size: 16px; } }
